<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header>
    <div id="logo"> <!-- Nuevo div para el logotipo -->
        <img src="./static/img/portada2.png" alt="Logo" width="100"> <!-- Cambia la ruta y el tamaño del logo -->
    </div>


    <nav>
        <!-- Enlaces de navegación -->
        
        <a href="#banner" onclick="seleccionar(this)" class="selected">Inicio</a>
        <a href="#nuestro" onclick="seleccionar(this)">Nuestro Hotel</a>
        <!-- Icono del menú -->
        
        <a href="#" onclick="seleccionar(this)">Servicios</a>
        <a href="#" onclick="seleccionar(this)">Reservas</a>
        <a href="#" onclick="seleccionar(this)">inicio secion</a>
        <a href="{{ url_for('registrar') }}" onclick="seleccionar(this)">Registrarse</a>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>